body {
    background-color: lightgray;
  }
  .opacity-50 {
    opacity: 0.6;
    font-style: italic;
  }
  .container img {
    margin-bottom: 15px;
  }
  .container a {
    opacity: 1;
    color: rgba(27, 147, 228, 0.849);
    overflow: hidden;
  }
  .container p {
    word-spacing: 4px;
    font-size: 12px;
  }
  .middle p:not(:has(a)) {
    opacity: 0.6;
  }
  .twitter-icon {
    color: #1da1f2;
    font-size: 23px;
  }
  .soundcloud-icon {
    color: #ff5500;
    font-size: 23px;
  }
  .bottom {
    text-align: center;
  }
  .info {
    display: flex;
    flex-direction: row;
    margin-bottom: -8px;
  }

  .info i {
    font-size: 20px;
    margin-top: 6px;
    margin-left: 3px;
  }
  .info h5 {
    margin-bottom: -2px;
  }
  .small-font {
    font-size: 12px;
  }
  hr {
    border: none;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  nav {
    display: flex;
    justify-content: space-between; 
    
}

.navbar-left,
.navbar-right {
    display: flex;
    gap: 10px;
}
.edit-img{
    margin-left: 16px;
}
#I-profile{
  border-radius: 50%;
}
#edit-button{
  float: right;
}

#editForm{
  font-family: "Playfair Display", serif;
  font-size: 14px;
}
#editForm input{
  height: 24px;
  margin-bottom: -4px;
}
#editForm input {
  font-style: italic;
  font-size: 12px;
}